/* NAVIGATION SETTINGS */
#logo {
  float: left;
  color:white;
  font-size: 28px;
  font-weight: bolder;
  text-transform: uppercase;

}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background: rgba(0,0,0,0.5);
}

.nav a {
  color: white;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bolder;
  padding: 0px 20px;
  float: right;
}

