body {
  background: url('../images/grey_texture.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

}
/* NAVIGATION SETTINGS */
#logo {
  float: left;
  color:white;
  font-size: 25px;
  font-weight: bolder;
  text-transform: none !important;
  font-family: 'Special Elite','Helvetica';
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background: rgba(0,0,0,0.5);
}

.nav a {
  color: white;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bolder;
  padding: 0px 20px;
  float: right;
}

#homeTitle {
  font-family: 'Special Elite','Helvetica';
  font-size: 150px;
  color: #74FFA5;
  position: absolute;
  top: 40%;
  margin-left: 20%;
  width: 500px;
  height: 100px;
}
#tagline {
  font-family: 'Special Elite','Helvetica';
  font-size: 50px;
  color: #DAFFA4;
  position: absolute;
  top: 60%;
  margin-left: 20%;

}

