  <div class="nav">
    <div id="logo"><a ui-sref="home">NanoPost</a></div>
  <!--   <div id="logRegister">
      <a>LogOut</a>
    </div> -->

    <div id="nav">
      <!-- <a ui-sref="home">Home</a> -->
      <a ui-sref="gallery">Gallery</a>
      <a ui-sref="hiring">Hiring</a>
      <a ui-sref="profiles">Profiles</a>
    </div>
  </div>

<h1>HIRING</h1>

<div class="board-container">

<div id="postIts">
<ul>
  <li ng-repeat="post in vm.jobPosts">
    <a href="#">
      <h2 id="companyP">{{post.job.company}}</h2>
      <p id="titleP">{{post.job.title}}</p>
      <p id="descriP">{{post.job.description}}</p>
      <p id="schedP"><strong>Employment:</strong> {{post.job.schedule}}</p>
    </a>
  </li>
</ul>
</div>


<div id="postForm">
<div id="form-container">
  <form ng-submit="addJobPost()"
        style="margin-top:30px;">
    <div id="marker">
      <h3>Post a Job</h3>
      <img id="pen" src="assets/images/marker.png">
    </div>

    <div class="form-group">
      <input type="text" class="form-control" placeholder="company name" ng-model="vm.company"></input>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="job title" ng-model="vm.title"></input>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="job description" ng-model="vm.description"></input>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="employment type" ng-model="vm.schedule"></input>
    </div>
    <button type="submit" class="btn btn-primary" ng-click="vm.addJobPost()">Post</button>
  </form>
</div>
</div>
</div>
